@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --main-color: #e8e8e8;
  --corparate-color: #0f2535;
  --border-color: #707070;
  --footer-color: #061016;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background-color: #ffffff;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

section {
  margin-top: 3.5rem;
  padding: 2rem 7%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--corparate-color);
  cursor: pointer;
  border-radius: 1rem;
}

.btn:hover {
  background: var(--footer-color);
}

/* Header Kısmı */
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: var(--corparate-color);
  padding: 20px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.logo img {
  height: 59px;
  width: 155px;
  margin-left: 15px;
  margin-top: 1.5px;
}

header .navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  font-size: 20px;
  padding: 20px;
  color: var(--main-color);
  display: block;
}

header .navbar ul li a:hover {
  color: #e8e8e8c0;
}

header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: var(--footer-color);
  display: none;
}

header .navbar ul li ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header .navbar ul li ul li ul {
  left: 200px;
  top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
  display: initial;
}

#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  color: #e8e8e8;
  cursor: pointer;
  display: none;
}

/* Contact Kımsı*/

.contact .heading {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.contact .heading h1 {
  font-size: 28px;
  color: var(--corparate-color);
}
.contact .row {
  display: flex;
  background: var(--main-color);
  flex-wrap: wrap;
  gap: 1rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form h3 {
  font-size: 3.5rem;
  color: var(--corparate-color);
}

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: white;
  border: var(--corparate-color);
}

.contact .row form .inputBox span {
  color: var(--corparate-color);
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputBox input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: var(--corparate-color);
  text-transform: none;
  background: none;
}

/* Media Quaries*/

@media (max-width: 991px) {
  header {
    padding: 20px;
  }

  header label {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--corparate-color);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
  }

  header .navbar ul li {
    width: 100%;
  }

  header .navbar ul li ul {
    position: relative;
    width: 100%;
  }

  header .navbar ul li ul li {
    background: var(--footer-color);
  }

  header .navbar ul li ul li ul {
    width: 100%;
    left: 0;
  }
  #menu-bar:checked ~ .navbar {
    display: initial;
  }
}
