:root {
  --main-color: #e8e8e8;
  --corparate-color: #0f2535;
  --border-color: #707070;
  --footer-color: #061016;
}

* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: var(--corparate-color);
  padding: 20px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.logo img {
  height: 59px;
  width: 155px;
  margin-left: 15px;
  margin-top: 1.5px;
}

header .navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  font-size: 20px;
  padding: 20px;
  color: var(--main-color);
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header .navbar ul li a:hover {
  color: #e8e8e8c0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: var(--footer-color);
  display: none;
}

header .navbar ul li ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header .navbar ul li ul li ul {
  left: 200px;
  top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
  display: initial;
}

#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  color: #e8e8e8;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  header {
    padding: 20px;
  }

  header label {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--corparate-color);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
  }

  header .navbar ul li {
    width: 100%;
  }

  header .navbar ul li ul {
    position: relative;
    width: 100%;
  }

  header .navbar ul li ul li {
    background: var(--footer-color);
  }

  header .navbar ul li ul li ul {
    width: 100%;
    left: 0;
  }
  #menu-bar:checked ~ .navbar {
    display: initial;
  }
}
